.section_select {
  width: 100%;
  min-height: 32px;
  line-height: 20px;

  border: 1px solid #dcdfe6;
  border-radius: 4px;
  padding: 4px 15px 0 15px;
  box-sizing: border-box;
  color: #c0c4cc;
  position: relative;
  .section_list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .section {
      height: 22px;
      background: rgba(54, 79, 205, 0.2);
      border-radius: 2px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #323233;
      font-size: 12px;
      padding: 2px 4px;
      box-sizing: border-box;
      margin: 0 4px 4px 0;
      .section_name {
        margin-right: 6px;
      }
    }
  }
  .icon {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
  }
}