.file_operation{
  .input_box {
    width: calc(100% - 16px);
    .suffix_box {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .suffix_img {
        display: flex;
        width: 14px;
        height: 14px;
        object-fit: contain;
      }
    }
  }
  .title_box {
    padding-right: 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 12px;
    .title {
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      color: #303133;
      line-height: 20px;
    }
    .add_box {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
      color: #364fcd;
      line-height: 18px;
      img {
        display: flex;
        width: 12px;
        height: 12px;
        margin-right: 4px;
      }
    }
  }
  .content_box {
    width: 100%;   
    overflow-y: auto;
    .el-tree {
      background: transparent;
      :deep(.el-tree-node) {
        max-width: 216px;
        width: max-content;
        min-width: 100%;
        .el-tree-node__content:hover {
          background: #f6f8fa;
          border-radius: 4px;
        }
      }
      :deep(.el-tree-node.is-current > .el-tree-node__content) {
        background: #f2f2f2;
        border-radius: 4px;
      }
    }
  }
}