.xm {
  font-family: PingFangSC-Regular, PingFang SC, Arial, sans-serif;
}

.xm .el-table .cell {
  padding: 0;
}

.xm .el-table .el-table-column--selection {
  text-align: center;
}

.xm .el-table .el-table__body .el-table__row .el-table__cell {
  color: #303133;
  padding: 20px 14px;
}

.xm .el-table .el-table__body .el-table__row .el-table__cell .cell {
  line-height: 20px;
}

.xm .el-table.pic_table .el-table__body .el-table__row .el-table__cell {
  color: #303133;
  padding: 12px 14px;
}

.xm .el-table .el-table__header-wrapper .el-table__cell,
.xm .el-table .el-table__fixed-header-wrapper .el-table__cell {
  padding: 17px 14px;
  color: #303133;
  background-color: #f7f8fa;
  font-weight: 500;
}

.xm .el-table .el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
  background-color: #f7f8fa;
}

.xm .el-input__inner {
  height: 32px;
  line-height: 32px;
}

.xm .el-button {
  padding: 8px 20px;
  min-height: 32px;
}

.xm .el-date-editor {
  --el-date-editor-daterange-width: 245px;
  /*--el-date-editor-datetimerange-width: 360px;*/
}

.xm .el-date-editor .el-range-separator {
  flex: 0;
  line-height: 24px;
}

.xm .el-date-editor .el-icon {
  height: 1em;
}

.xm .el-form-item__label,
.xm .el-form-item__content {
  line-height: 32px;
}

.xm .el-form-item__label {
  min-width: 80px;
  padding-right: 14px;
}

.xm .el-form-item {
  margin-bottom: 20px;
}

.xm .el-form-item:last-child {
  margin-bottom: 0;
}

.xm .el-dialog__header {
  border-bottom: 1px solid #dcdfe6;
  padding: 18px 24px 16px 24px;
}

.xm .el-dialog__body {
  padding: 22px 24px 22px 24px;
}

.xm .el-dialog__footer {
  padding: 20px 24px 20px 0;
}

.xm .el-button + .el-button {
  margin-left: 18px;
}

.xm .el-tree-node {
  margin-bottom: 6px;
}

.xm .el-tree-node .el-tree-node__children .el-tree-node {
  margin-bottom: 4px;
}

.xm .el-tree-node .el-tree-node__children .el-tree-node:first-child {
  margin-top: 4px;
}

.xm .el-tree-node .el-tree-node__children .el-tree-node:last-child {
  margin-bottom: 0;
}

.xm .el-tree-node .el-tree-node__content {
  height: 36px;
}

.xm .el-tree-node .el-tree-node__expand-icon {
  color: #333;
}

.xm .el-tree-node .el-tree-node__expand-icon.is-leaf {
  color: transparent;
}

.xm .el-tree {
  --el-tree-text-color: #323233;
  font-size: 14px;
}

.xm .el-radio-group,
.xm .el-radio {
  height: 32px;
}

.xm .el-cascader {
  line-height: 32px;
}

.xm .el-tabs__item {
  height: auto;
  line-height: 20px;
  padding-bottom: 14px;
  color: rgba(0, 0, 0, 0.65);
}

.xm .el-tabs__item:hover, .xm .el-tabs__item.is-active {
  color: #303133;
}

.xm .el-tabs__nav-wrap::after {
  height: 1px;
}

.xm .hide_underline .el-tabs__nav-wrap::after {
  width: 0;
}

.xm .hide_footer_line .el-dialog__body {
  padding-bottom: 0;
}

.xm .hide_footer_line .el-dialog__footer {
  border-top: 0;
}

.xm .hide_header_line .el-dialog__header {
  border-bottom: 0;
}

.xm .el-sub-menu {
  width: 210px;
}

.xm .w-e-toolbar h5,
.xm .w-e-text-container h5,
.xm .w-e-menu-panel h5 {
  font-size: 12px !important;
}

.xm .w-e-toolbar h4,
.xm .w-e-text-container h4,
.xm .w-e-menu-panel h4 {
  font-size: 16px !important;
}

.xm .w-e-toolbar h3,
.xm .w-e-text-container h3,
.xm .w-e-menu-panel h3 {
  font-size: 18px !important;
}

.xm .w-e-toolbar h2,
.xm .w-e-text-container h2,
.xm .w-e-menu-panel h2 {
  font-size: 20px !important;
}

.xm .w-e-toolbar h1,
.xm .w-e-text-container h1,
.xm .w-e-menu-panel h1 {
  font-size: 22px !important;
}

.xm .upload_modal .el-tabs__header {
  margin-bottom: 0  !important;
}

.xm .upload_modal .el-tabs__item {
  padding-left: 24px !important;
}

.el-popover.el-popper.section_poper {
  min-width: 70px;
  background-color: #424c7f;
  color: #fff;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 17px;
}

.el-popover.el-popper.section_poper .el-popper__arrow:before {
  border: 1px solid #424c7f;
  background: #424c7f;
}

.el-popover.el-popper.section_poper .icon {
  font-size: 12px;
}

.qrcode_popper {
  --el-popover-padding: 0 !important;
}

.w-e-toolbar p,
.w-e-text-container .w-e-text p,
.w-e-menu-panel p {
  font-size: 14px !important;
}

.page_detail input::-webkit-outer-spin-button,
.page_detail input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

.page_detail :deep(input[type="number"]) {
  -moz-appearance: textfield !important;
}

.tab_components .el-tabs__header {
  background: #ffffff;
  border-radius: 4px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0 24px;
}

.tab_components .el-tabs__header .el-tabs__item {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  color: #909399;
}

.tab_components .el-tabs__header .el-tabs__item.is-active {
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #303133;
}

.tab_components .el-tabs__header .el-tabs__nav-wrap::after {
  background-color: #ffffff;
}

.g_popper_gray {
  --el-color-white: #6e738a !important;
  --el-border-color-light: #6e738a !important;
}
