.step_page {
  width: 100%;
  height: 100%;
  .page_top {
    width: 100%;
    padding: 20px 24px 0;
  }
  .page_bottom {
    width: 100%;
    height: calc(100% - 73px);
    overflow-y: auto;
  }
}
// 单个分镜
.one_storyboard {
  width: 100%;
  background: #f2f3f5;
  border-radius: 4px;
  border: 1px solid transparent;
  .storyboard_info {
    width: 100%;
    min-height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px 12px 12px;
    .info_left {
      width: calc(100% - 400px);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      .info_left1 {
        cursor: pointer;
        margin-right: 8px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        overflow: hidden;
        position: relative;
        .info_img {
          background: rgba(0, 0, 0, 0.2);
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #606266;
          font-size: 12px;
          line-height: 17px;
        }
        .info_img_audio {
          width: 32px;
          height: 32px;
          display: flex;
        }
        .info_play {
          width: 28px;
          height: 28px;
          object-fit: contain;
          display: flex;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateY(-50%) translateX(-50%);
        }
      }
      .info_left2 {
        margin-right: 24px;
        .info_time {
          margin-bottom: 4px;
          font-weight: 400;
          font-size: 12px;
          color: #ffffff;
          line-height: 18px;
          padding: 0 4px;
          height: 18px;
          background: rgba(0, 0, 0, 0.4);
          border-radius: 2px;
        }
        .info_tag {
          width: max-content;
          height: 18px;
          border-radius: 2px;
          font-weight: 400;
          font-size: 12px;
          color: #ffffff;
          line-height: 18px;
          padding: 0 4px;
        }
        // 视频
        .info_tag1 {
          background: #2388ff;
        }
        // 音频
        .info_tag2 {
          background: #bbae3b;
        }
        // 字幕
        .info_tag3 {
          background: #3e851b;
        }
        // 滤镜
        .info_tag4 {
          background: #2388ff;
        }
        // 特效
        .info_tag5 {
          background: #2388ff;
        }
        // 贴纸
        .info_tag6 {
          background: #2388ff;
        }
        // 转场
        .info_tag7 {
          background: #2388ff;
        }
        // 图片
        .info_tag8 {
          background: #936442;
        }
      }
      .info_left3 {
        max-width: calc((100% - 140px) / 2);
      }
      .info_title {
        font-weight: 600;
        font-size: 14px;
        color: #303133;
        line-height: 20px;
        // display: flex;
        // width: max-content;
        // max-width: calc((100% - 140px) / 2);
      }
      .info_tip {
        margin-left: 20px;
        width: calc((100% - 140px) / 2);

        font-weight: 400;
        font-size: 14px;
        color: #909399;
        line-height: 20px;
      }
    }
    .info_right {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .info_select {
        width: 160px;
        :deep(.el-input__inner) {
          background: transparent;
        }
      }
    }
  }
}
.xm_tooltipOfRight1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  &::after {
    content: " ";
    background: url("https://tagvv-1256030678.file.myqcloud.com/20230609v2t8m.png") no-repeat;
    width: 14px;
    height: 14px;
    background-size: cover;
    margin-left: 4px;
  }
}
:deep(.el-dropdown .el-button) {
  padding-left: 12px;
  padding-right: 12px;
}
:deep(.info_select + .el-dropdown .el-button) {
  margin-left: 16px;
}
// 选中的原料信息
.storyboard_material_box {
  margin-bottom: 12px;
  width: calc(100% - 12px);
  padding-left: 12px;
  max-height: 256px;
  overflow-y: auto;

  .material_box {
    margin-top: -12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    // 视频和图片
    .one_material {
      cursor: pointer;
      margin-right: 12px;
      margin-top: 12px;
      width: 120px;
      height: 160px;
      // background: #303133;
      background: #b9b9b9;
      border-radius: 2px;
      border: 1px solid #eaedf0;
      position: relative;
      overflow: hidden;
      .material_cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
      }
      .action_play {
        opacity: 0;
        position: absolute;
        top: calc(50% - 16px);
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        width: 32px;
        height: 32px;
        object-fit: contain;
        display: flex;
      }
      .action_time {
        position: absolute;
        left: 6px;
        top: 6px;
        padding: 0 4px;
        font-weight: 400;
        font-size: 12px;
        color: #ffffff;
        line-height: 18px;

        background: rgba(0, 0, 0, 0.4);
        border-radius: 2px;
      }
      .material_action {
        width: 100%;
        padding-left: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        right: 0;
        bottom: 40px;

        .action_right {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
        }
        .action_icon {
          width: 24px;
          height: 24px;
          object-fit: contain;
          display: flex;
          margin-right: 8px;
          cursor: pointer;
        }
      }
      .material_action_batch {
        bottom: 0;
        height: 70px;
        padding-bottom: 40px;
        align-items: flex-end;
        width: 50%;
      }
      .material_name {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 32px;
        background: #909399;
        border-radius: 0px 0px 2px 2px;
        padding: 6px 4px;
        font-weight: 400;
        font-size: 14px;
        color: #ffffff;
        line-height: 20px;
      }
    }
    // 音频
    .one_audio {
      cursor: pointer;
      margin-right: 12px;
      margin-top: 12px;
      width: 196px;
      height: 96px;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding: 4px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      .audio_left {
        position: relative;
        width: 88px;
        height: 88px;
        background: #c1c2c4;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .audio_icon {
          width: 60px;
          height: 60px;
          object-fit: contain;
          display: flex;
        }
        .action_play {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 35px;
          height: 35px;
          object-fit: contain;
        }
      }
      .audio_left:hover {
        .action_play {
          opacity: 1;
        }
      }
      .audio_right {
        position: relative;
        width: calc(100% - 88px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2px 8px;
        .right_top {
          .audio_title {
            width: 100%;
            font-weight: 400;
            font-size: 12px;
            color: #303133;
            line-height: 17px;
          }
          .audio_tip {
            width: 100%;
            margin-top: 2px;
            font-weight: 400;
            font-size: 12px;
            color: #606266;
            line-height: 17px;
          }
        }
        .audio_time {
          font-weight: 400;
          font-size: 12px;
          color: #909399;
          line-height: 17px;
        }
        .audio_del {
          cursor: pointer;
          width: 24px;
          height: 24px;
          object-fit: contain;
          position: absolute;
          right: 2px;
          bottom: 2px;
        }
      }
    }
    // 文本
    .one_text {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .text_xm_icon {
        width: 41px;
        height: 18px;
        object-fit: contain;
        display: flex;
        margin-right: 8px;
      }
      .text_text_box {
        border-radius: 2px;
        padding: 0 12px;
        width: calc(100% - 32px);
        background: #ffffff;
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      .text_text {
        width: 100%;
        height: 100%;
        font-weight: 400;
        font-size: 12px;
        color: #606266;
        line-height: 32px;
      }
      .text_del {
        cursor: pointer;
        width: 24px;
        height: 24px;
        object-fit: contain;
        display: flex;
        margin-left: 8px;
      }
    }
    .one_text + .one_text {
      margin-top: 1px;
    }
  }

  .material_action_batch_text {
    width:24px;
    height: 24px;
    margin-left: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .action_right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .xm_check_box_round {
        margin: 0;
        .check_box {
          margin: 0;
        }
      }
    }
  }
  .material_action_batch_audio {
    cursor: pointer;
    object-fit: contain;
    position: absolute;
    right: 2px;
    bottom: 4px;
  }
}
// 云原料标志
.item_xm {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  height: 52px;
  object-fit: contain;
  transform: rotate(270deg);
}

// 查看全部
.show_all_box {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #364fcd;
  line-height: 20px;
  text-align: center;
  font-style: normal;
  padding-top: 12px;
  img {
    width: 14px;
    height: 14px;
    object-fit: contain;
    margin-left: 4px;
  }
}

.show_all_storyboard {
  .storyboard_material_box {
    max-height: 224px !important;
  }
}
