.icon_gray {
  color: #bec4ce;
}
.icon_blue {
  color: #364fcd;
}
.icon_green {
  color: #31c16c;
}
.icon_orange {
  color: #ff8d3b;
}
.icon_red {
  color: #f5313d;
}
.circle_gray {
  background: #bec4ce;
}
.circle_blue {
  background: #364fcd;
}
.circle_green {
  background: #31c16c;
}
.circle_orange {
  background: #ff8d3b;
}
.circle_red {
  background: #f5313d;
}
div{
  box-sizing: border-box;
}